<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1024, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/images/binance-coin-cryptocurrency.svg">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>">
  <% } %>
</head>
<body>
    <main class="main">
      <div class="wrapper">
        <!-- header START -->
        <header class="header">
          <h1>CryptoApp</h1>
        </header>
        <!-- header END -->

        <hr>

        <!-- cards list START -->
        <ul class="cards">
          <!-- Крипта в долар -->
          <li class="cards__item">
            <div class="title">Крипта в долар:</div>
            <form id="crypto-to-form" class="info-block">
              <div class="info-block__item">
                <label>
                  <span>Crypto</span>
                  <input class="form__input" type="number" name="sum" placeholder="coins">
                </label>

                <span>*</span>

                <label>
                  <span>Crypto Price</span>
                  <input class="form__input" type="number" name="rate" placeholder="price">
                </label>
              </div>

              <span>=</span>
              <span class="form-summa" id="oneFormSumma">$ 0.00000</span>
            </form>
          </li>

          <!-- Долар в крипту -->
          <li class="cards__item">
            <div class="title">Долар в крипту:</div>
            <form id="usd-to-form" class="info-block">
              <div class="info-block__item">
                <label>
                  <span>USD</span>
                  <input class="form__input" type="number" name="sum" placeholder="$">
                </label>

                <span>/</span>

                <label>
                  <span>Crypto Price</span>
                  <input class="form__input" type="number" name="rate" placeholder="price">
                </label>
              </div>

              <span>=</span>
              <span class="form-summa">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20"
                          height="20" viewBox="0 0 256 256" xml:space="preserve">
  
                        <defs>
                          </defs>
                            <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                              transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                              <path d="M 45 90 C 20.187 90 0 69.813 0 45 S 20.187 0 45 0 c 24.813 0 45 20.187 45 45 S 69.813 90 45 90 z"
                                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(228,173,74); fill-rule: nonzero; opacity: 1;"
                                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                              <path
                                d="M 46.105 64.754 c -10.893 0 -19.754 -8.861 -19.754 -19.754 c 0 -10.893 8.862 -19.754 19.754 -19.754 c 4.912 0 9.622 1.815 13.26 5.112 c 1.228 1.113 1.321 3.01 0.208 4.238 c -1.111 1.228 -3.01 1.321 -4.237 0.208 c -2.532 -2.295 -5.811 -3.559 -9.23 -3.559 c -7.584 0 -13.754 6.17 -13.754 13.754 c 0 7.584 6.17 13.754 13.754 13.754 c 3.42 0 6.698 -1.264 9.23 -3.559 c 1.228 -1.112 3.126 -1.02 4.237 0.208 c 1.113 1.228 1.02 3.125 -0.208 4.237 C 55.728 62.939 51.019 64.754 46.105 64.754 z"
                                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                              <path
                                d="M 46.105 31.246 c -1.657 0 -3 -1.343 -3 -3 v -6.425 c 0 -1.657 1.343 -3 3 -3 c 1.657 0 3 1.343 3 3 v 6.425 C 49.105 29.903 47.763 31.246 46.105 31.246 z"
                                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                              <path
                                d="M 46.105 71.179 c -1.657 0 -3 -1.343 -3 -3 v -6.425 c 0 -1.657 1.343 -3 3 -3 c 1.657 0 3 1.343 3 3 v 6.425 C 49.105 69.836 47.763 71.179 46.105 71.179 z"
                                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                            </g>
                          </svg>
                </span>
                <span id="twoFormSumma">0.00000</span>
            </form>
          </li>
        </ul>
        <!-- cards list END -->
      </div>
    </main>

  <% for (var js in htmlWebpackPlugin.files.js) { %>
  <script src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
  <% } %>
</body>
</html>